.brandFilter {
  .nav-link {
    font-size: 20px;
    line-height: 30px;
  }
}

.productList {
  .cardImg {
    overflow: hidden;

    img, img:hover {
      transition: .3s;
    }
    
    img:hover {
      transform: scale(1.1);
    }
  }

  .card-title {
    line-height: 36px;
  }

  .card-text {
    line-height: 24px;
  }
}

.pagination {
  li {
    font-size: 20px;
  }
}

.productIntro {
  h3 {
    line-height: 48px;
  }

  .price {
    font-size: 20px;
    line-height: 30px;
  }

  button {
    height: 50px;
    padding-left: 55px;
    padding-right: 55px;
  }

  select {
    height: 50px;
  }
}